<div class"row mt-5">
	<h1> Register Here</h1>
	<%# // SHOWING ERRORS \\  */%> 
		<% if(typeof check != 'undefined') { %>
			<% check.forEach(function(err) { %>
				<%= err.message %>
			<% }); %>
		<% } %>
	<%# // ^^ ERRORS \\  */%> 
	<div class="card card-body">
		<form action="/users/register" method="POST">
		<div class="form">
			<label for="fname">First Name:</label>
			<input 
				type="name"
				id="fname"
				name="fname"
				class="form-control"
				placeholder="FIRST NAME"
				value="<%= typeof fname != 'undefined' ? fname : '' %>"
				/>
		</div>
		<div class="form">
			<label for="lname">Last Name:</label>
			<input 
				type="name"
				id="lname"
				name="lname"
				class="form-control"
				placeholder="LAST NAME"
				value="<%= typeof lname != 'undefined' ? lname : '' %>"
				/>
		</div>
		<div class="form">
			<label for="email">Email:</label>
			<input 
				type="email"
				id="email"
				name="email"
				class="form-control"
				placeholder="EMAIL"
				value="<%= typeof email != 'undefined' ? email : '' %>"
				/>
		</div>
		<div class="form">
			<label for="job">Reason:</label>
			<input 
				type="name"
				id="job"
				name="job"
				class="form-control"
				placeholder="CUSTOMER OR VENDOR"
				value="<%= typeof job != 'undefined' ? job : '' %>"
				/>
		</div>
		<div class="form">
			<label for="password">Password:</label>
			<input 
				type="password"
				id="password"
				name="password"
				class="form-control"
				placeholder="PASSWORD"
				value="<%= typeof password != 'undefined' ? password : '' %>"
				/>
		</div>
		<div class="form">
			<label for="password2">Confirm Password:</label>
			<input 
				type="password"
				id="password2"
				name="password2"
				class="form-control"
				placeholder="CONFIRM PASSWORD"
				value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
				/>
		</div>
		<button type="submit" class="button"> Sign Up</button>
	</form>
	</div>
	<p class="lead mt-1"> Have an account? <a href="/users/login"> Login</a></p>
</div>